<nav>
  <header class="bg-white rounded-lg p-2 justify-center">
    <div class="container mx-auto logoContainer">
      <a href="/">
        <img src="/assets/moovweb.svg" alt="Moovweb Logo" />
        <div class="text-center text-gray-700">Angular Example</div>
      </a>
    </div>
    <div class="flex-container mx-auto">
      <ul>
        <li *ngFor="let category of categories">
          <a routerLink="{{ category.href }}" routerLinkActive="active">{{
            category.categoryName
          }}</a>
        </li>
        <!-- <li v-for="category in categories" :key="category.name">
          <Prefetch :url="getApiPath(category.href)">
            <NuxtLink :to="category.href">{{ category.categoryName }}</NuxtLink>
          </Prefetch>
        </li> -->
      </ul>
    </div>
  </header>
</nav>
